extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Dragana Begojev


        p Full Stack JavaScript Developer


        .about-bio

          p Hi! I’m someone who’s always loved solving problems and making things work better. For over 7 years, I’ve helped support and improve complex web apps and SaaS platforms—so I know what it takes to keep things running smoothly for users.

          p These days, I’m diving into full-stack JavaScript development. After earning a Front-End Development Techdegree and building several hands-on projects, I’m continuing to learn fast and really enjoying creating things from scratch—especially when I get to think through how everything fits together—from the front end to the server.

          p I work with HTML, CSS, JavaScript, Node.js, and Express, and I enjoy turning ideas into reliable, user-friendly features. Whether I’m fixing a tricky bug or learning a new concept, I always bring curiosity, persistence, and a strong focus on the user.

          p I’m excited to keep growing and collaborate with others who care about building helpful, thoughtful software.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li +381621032305
          li dragana.begojev@gmail.com

        h6 Social Links
        ul.social-links
          li:  a.btn-link(href='https://www.linkedin.com/in/dragana-begojev-3865685a/' target='_blank' rel='noopener noreferrer') LinkedIn
          li:  a.btn-link(href='https://github.com/DraganaBegojev' target='_blank' rel='noopener noreferrer') GitHub
          li:  a.btn-link(href='https://www.instagram.com/' target='_blank' rel='noopener noreferrer') Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back