extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p This portfolio showcases projects I’ve built while completing the Full-Stack JavaScript Techdegree, highlighting both my technical and problem-solving skills. I aim to create clean, responsive, and user-friendly applications that solve real-world problems.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=project.image_urls[0], alt=`Thumbnail of ${project.project_name}`)
            h5 #{project.project_name}

